<template id="fretboard-neck-template">
    <style>
        :host {
            display: block;
            position: relative;
            transform: translateZ(0);
        }

        .FretboardNeckWrapper {
            display: flex;
            flex-direction: column;
            flex:1;
            justify-content: space-between;
            height: 100%;
            overflow: hidden;
            border-radius: 11px;
            background: linear-gradient(0deg, rgba(81, 67, 65, 0.77) 0%, rgba(81, 67, 65, 0.77) 100%), linear-gradient(135deg, #4A4542 100%, #524D48 0%);
            background-blend-mode: darken, normal;
            box-shadow: 0 53px 15px 0 rgba(0, 0, 0, 0.01), 0 34px 13px 0 rgba(0, 0, 0, 0.06), 0 19px 11px 0 rgba(0, 0, 0, 0.19), 0 8px 8px 0 rgba(0, 0, 0, 0.33), 0 2px 5px 0 rgba(0, 0, 0, 0.38);
        }
        .FretSingleDot {
            flex: 1;
        }

        .resize-handle {
            position: absolute;
            bottom: -12px;
            right: -12px;
            width: 24px;
            height: 24px;
            cursor: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 11V5H11' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 13V19H13' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 5L19 19' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 12 12, nwse-resize;
            z-index: 10;
        }

    </style>

    <div class="FretboardNeckWrapper">
        <div data-layer="AllFretsWrapper" class="Allfretswrapper" style="width: 100%; height: 100%; justify-content: space-between; align-items: center; display: inline-flex">
        </div>
    </div>
    <div class="resize-handle" data-resize-handle></div>
</template>

<!-- <fretboard-neck class="Fretboard" frets="15"></fretboard-neck> -->
