<template id="text-editor-template">

    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

        * {
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
        }

        :host {
            display: flex;
            width: 100%;
            height: 100%;
        }

        :root {

        }

        .text-section {
            display: flex;
            width: 100%;
            flex: 1;
            align-items: flex-start;
            gap: 17px;
            position: relative;
            background-color: #d6d5d1;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid;
            border-color: #0000000d;
        }

        .text-section .text-area {
            display: flex;
            align-items: flex-start;
            flex: 1;
            gap: 10px;
            padding: 40px 60px;
            position: relative;
            flex: 1;
            align-self: stretch;
            flex-grow: 1;
        }

        .text-section .textbody {
            position: relative;
            display: block;
            width: 100%;
            flex: 1;
            margin-top: -1.00px;
            font-family: "Aktiv Grotesk Corp-Regular", Helvetica;
            font-weight: 400;
            color: #5d5d5d;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 24px;
            cursor: text;
            outline: none;
            white-space: pre-wrap;
        }

        .text-section .textbody br {
            content: '';
            display: block;
            line-height: 24px;
            font-size: 12px;
        }

        .text-section:has([contenteditable="true"]) {
            box-shadow: 1px 1px 2.5px rgba(129.03, 129.03, 129.03, 0.90);
            overflow: visible;
        }

        .text-editor-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: flex-start;
            gap: 20px;
            padding: 20px;
            position: relative;
        }

        .text-editor-control {
            display: flex;
            min-width: 259px;
            height: 100%;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        .text-editor-control .div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            flex: 1;
            align-self: stretch;
            flex-grow: 1;
        }

        .text-editor-control .spacer {
            position: relative;
            flex: 1;
            align-self: stretch;
            flex-grow: 1;
        }

        .text-editor-control .img {
            position: relative;
            align-self: stretch;
            flex: 0 0 auto;
        }

        .title-section {
            display: flex;
            height: 36px;

            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px 30px;
            position: relative;
            background-color: #d6d5d1;
            border-radius: 5px;
            border: 1px solid;
            border-color: #0000000d;
        }

        .title-section .title {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            position: relative;
            align-self: stretch;
            width: auto;
        }

        .title-section .text-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin-top: -0.50px;
            font-family: "Aktiv Grotesk Corp-Medium", Helvetica;
            font-weight: 500;
            color: #4f4f4f;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0;
            line-height: 18px;
            white-space: nowrap;
        }

        .title-section .spacer {
            position: relative;
            flex: 1;
            align-self: stretch;
            flex-grow: 1;
        }
    </style>

    <div class="text-editor-wrapper">
        <div class="title-section">

            <div class="title">
                <p class="text-wrapper" data-text-fonts-mode="text-editor-title">This is a blank note</p>
            </div>
            <div class="spacer"></div>
            <div class="text-editor-control" data-text-fonts-mode="text-editor-body">
                <div class="div">
                    <div class="spacer"></div>
                    <div class="spacer"></div><img class="img" id="underline-btn" src="Assets/Underline Icon.svg">
                    <div class="spacer"></div><img class="img" id="bold-btn" src="Assets/Bold Icon.svg">
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                </div>
                <div class="div">
                    <div class="spacer"></div>
                    <div class="spacer"></div><img class="img" src="Assets/Column Icon.svg">
                    <div class="spacer"></div><img class="img" src="Assets/Link Icon.svg">
                    <div class="spacer"></div><img class="img" src="Assets/Insert Icon.svg">
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                </div>
                <div class="div">
                    <div class="spacer"></div>
                    <div class="spacer"></div><img class="img" src="Assets/Align Left Icon.svg">
                    <div class="spacer"></div><img class="img" src="Assets/Align Center Icon.svg">
                    <div class="spacer"></div><img class="img" src="Assets/Align Right Icon.svg">
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                </div>
                <div class="div">
                    <div class="spacer"></div>
                    <div class="spacer"></div><img class="img" src="Assets/Delete Icon.svg">
                    <div class="spacer"></div><img class="img" src="Assets/Save Icon.svg">
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                </div>
            </div>

        </div>


        <div class="text-section">
            <div class="text-area">
                <p class="textbody" >Start Typing your text in here...</p>
            </div>
        </div>
    </div>

</template>